<h1 class="title">Login Here!</h1>

<%= form_tag do %>
<div class="login-form">
  <div class="field">
    <input type="text" name="email" class="form-field" placeholder="Email">
  </div>
  </br>
  <div class="field">
    <input type="password" name="password" class="form-field" placeholder="Password">
  </div>
  </br>
  <div class="create-button">
    <%= submit_tag "Login", class: "login-button" %>
  </div>
<% end %>
<br>
<div class="google-log">
  <%= link_to "Login with Google", "/auth/google_oauth2", :class => "nav-link", method: :get %>
</div>
</div>
</div>
<br>
<h3 class="title-like">Don't Have An Account?
  <br>
  <a class="register-Here" href="/users/new">Register Here</a>
</h3>
