---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACf8ad392ff55264ce6cc665239d8053af/Messages.json
    body:
      encoding: UTF-8
      string: Body=Hi+Bob%21+Amber+Simpson+is+attending+a%0A++++++Star+Party+and+wants+you+to+join%21+You+can+see+more+info+at+https%3A%2F%2Fstar-party.herokuapp.com%2Fparties%2F1.&From=%2B17207307828&To=%2B17203620696
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNmOGFkMzkyZmY1NTI2NGNlNmNjNjY1MjM5ZDgwNTNhZjoyNGJkMzAzNzlhNDkyMGE4MTQwZGMxZTMwZjFiODY0Nw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.096'
      Twilio-Request-Id:
      - RQeb7777cd2909432382bc425e075ea50e
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM3ae6b6b2ce844970a496f87e984b7b3e", "date_created": "Tue,
        30 Oct 2018 21:31:25 +0000", "date_updated": "Tue, 30 Oct 2018 21:31:25 +0000",
        "date_sent": null, "account_sid": "ACf8ad392ff55264ce6cc665239d8053af", "to":
        "+17203620696", "from": "+17207307828", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Hi Bob! Amber Simpson is attending
        a\n      Star Party and wants you to join! You can see more info at https://star-party.herokuapp.com/parties/1.",
        "status": "queued", "num_segments": "2", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/ACf8ad392ff55264ce6cc665239d8053af/Messages/SM3ae6b6b2ce844970a496f87e984b7b3e.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACf8ad392ff55264ce6cc665239d8053af/Messages/SM3ae6b6b2ce844970a496f87e984b7b3e/Media.json"}}'
  recorded_at: Tue, 30 Oct 2018 21:31:25 GMT
- request:
    method: get
    uri: https://api.nasa.gov/planetary/apod?api_key=JMa0lzpaWyNFgzBdVWMqr0SkMjY1bsLIqzzGAeBl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '910'
    body:
      encoding: ASCII-8BIT
      string: '{"copyright":"Yin Hao","date":"2018-10-30","explanation":"Meteors have
        been shooting out from the constellation of Orion.  This was expected, as
        October is the time of year for the Orionids Meteor Shower.  Pictured here,
        over two dozen meteors were caught in successively added exposures last October
        over Wulan Hada volcano in Inner Mongolia, China. The featured image shows
        multiple meteor streaks that can all be connected to a single small region
        on the sky called the radiant, here visible just above and to the left of
        the belt of Orion,  The Orionids meteors started as sand sized bits expelled
        from Comet Halley during one of its trips to the inner Solar System.  Comet
        Halley is actually responsible for two known meteor showers, the other known
        as the Eta Aquarids and visible every May.  An Orionids image featured on
        APOD one year ago today from the same location shows the same car.  Next month,
        the Leonids Meteor Shower from Comet Tempel-Tuttle should also result in some
        bright meteor streaks.   Follow APOD on: Facebook,  Instagram, Reddit, or
        Twitter","hdurl":"https://apod.nasa.gov/apod/image/1810/Orionids_Hao_2324.jpg","media_type":"image","service_version":"v1","title":"Orionids
        Meteors over Inner Mongolia","url":"https://apod.nasa.gov/apod/image/1810/Orionids_Hao_960.jpg"}

'
  recorded_at: Tue, 30 Oct 2018 21:31:26 GMT
recorded_with: VCR 4.0.0
