---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACf8ad392ff55264ce6cc665239d8053af/Messages.json
    body:
      encoding: UTF-8
      string: Body=Hi+Bob%21+Eddie+is+attending+a+Star+Party+and+wants+you+to+join%21+You+can+see+more+info+at+https%3A%2F%2Fstar-party.herokuapp.com%2Fparties%2F1.&From=%2B17207307828&To=%2B117203620696
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNmOGFkMzkyZmY1NTI2NGNlNmNjNjY1MjM5ZDgwNTNhZjoyNGJkMzAzNzlhNDkyMGE4MTQwZGMxZTMwZjFiODY0Nw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.097'
      Twilio-Request-Id:
      - RQ9af430b07d3043a8ab4b3293a1d4fb0f
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM030046a26da0410fba5959b4ba92744f", "date_created": "Thu,
        01 Nov 2018 20:23:27 +0000", "date_updated": "Thu, 01 Nov 2018 20:23:27 +0000",
        "date_sent": null, "account_sid": "ACf8ad392ff55264ce6cc665239d8053af", "to":
        "+17203620696", "from": "+17207307828", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Hi Bob! Eddie is attending a Star Party
        and wants you to join! You can see more info at https://star-party.herokuapp.com/parties/1.",
        "status": "queued", "num_segments": "2", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/ACf8ad392ff55264ce6cc665239d8053af/Messages/SM030046a26da0410fba5959b4ba92744f.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACf8ad392ff55264ce6cc665239d8053af/Messages/SM030046a26da0410fba5959b4ba92744f/Media.json"}}'
  recorded_at: Thu, 01 Nov 2018 20:23:27 GMT
- request:
    method: get
    uri: https://api.nasa.gov/planetary/apod?api_key=oZooGV3jttBqMMbqL2qGz5PZwWS0HProICaJmTGk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '984'
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2018-11-01","explanation":"Will spacecraft Hayabusa2 be able
        to land safely on asteroid Ryugu? Since arriving in June, pictures show that
        the surface of kilometer-sized Ryugu is covered with boulders, so that finding
        a flat enough area for the bus-sized spacecraft to touch down is proving a
        challenge. In the featured video, the shadow of Japan''s robotic Hayabusa2
        can be seen on the rugged face of Ryugu while ascending last week from a touchdown
        rehearsal only 20 meters over the surface.  Previously, small frisbee-sized
        landers detached from Hayabusa2, made contact with the diamond-shaped asteroid''s
        surface, and started hopping around.  Studying Ryugu could tell humanity not
        only about the minor planet''s surface and interior, but about what materials
        were available in the early Solar System for the development of life.  The
        touchdown of the Hayabusa2 mother ship is slated for early next year, hopefully
        followed by a soil sample collection for return to Earth.","media_type":"video","service_version":"v1","title":"Hayabusa2
        Ascends from Asteroid Ryugu","url":"https://www.youtube.com/embed/tEPQ-DuSViQ?rel=0"}

'
  recorded_at: Thu, 01 Nov 2018 20:23:28 GMT
recorded_with: VCR 4.0.0
