---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/planetary/apod?api_key=oZooGV3jttBqMMbqL2qGz5PZwWS0HProICaJmTGk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '987'
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2018-11-01","explanation":"Will spacecraft Hayabusa2 be able
        to land safely on asteroid Ryugu? Since arriving in June, pictures show that
        the surface of kilometer-sized Ryugu is covered with boulders, so that finding
        a flat enough area for the bus-sized spacecraft to touch down is proving a
        challenge. In the featured video, the shadow of Japan''s robotic Hayabusa2
        can be seen on the rugged face of Ryugu while ascending last week from a touchdown
        rehearsal only 20 meters over the surface.  Previously, small frisbee-sized
        landers detached from Hayabusa2, made contact with the diamond-shaped asteroid''s
        surface, and started hopping around.  Studying Ryugu could tell humanity not
        only about the minor planet''s surface and interior, but about what materials
        were available in the early Solar System for the development of life.  The
        touchdown of the Hayabusa2 mother ship is slated for early next year, hopefully
        followed by a soil sample collection for return to Earth.","media_type":"video","service_version":"v1","title":"Hayabusa2
        Ascends from Asteroid Ryugu","url":"https://www.youtube.com/embed/tEPQ-DuSViQ?rel=0"}

'
  recorded_at: Thu, 01 Nov 2018 20:23:26 GMT
[...]
