
<button type="button" class="d-block btn btn-btn-outline-dark btn-lg">Find a Party!</button>
<button type="button" class="d-block btn btn-btn-outline-dark btn-lg">Plan a Party!</button>

<div class="image-container">
  <img src="<%= @apod.source %>" class="apod" alt="<%= @apod.description %>">
</div>
