body {
}

.apod {
height: 200px;
width: auto;
}

.navbar {
  width: 100%;
  white-space: nowrap;
}

.image-container {
  max-height: 800px;
  width: auto;
  overflow: hidden;
}
.image-container img {
  height: 800px;
  justify-content: center;
}
