body {
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}


.landing-body{
  position: relative;
  text-align: center;
}

.button-holder {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo {
  height: 65px;
  width: 65px;
}

.navbar {
  background-color: #202030;
  width: auto;
  white-space: nowrap;
  box-shadow: -1px 1px 2px #202030;
  z-index: 10;
}

.sign-up {
  text-align: right;
}

.button-holder .btn {
  font-size: 32px;
  background-color: #202030;
  color: #EAE0D5;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: -1px 2px 8px #000000;
  font-family: 'Athiti', sans-serif;
}

.button-holder .form-control {
  text-align: center;
  font-size: 24px;
  background-color: #EAE0D5;
  color: #EAE0D5;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
}

.button-holder .form-control:focus {
  text-align: center;
  font-size: 24px;
  background-color: #EAE0D5;
  caret-color: #202030;
  color: #202030;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
}

.search-field {
  margin-top: 20px;
}

.top-card {
  position: inline;
  font-family: 'Athiti', sans-serif;
  background-color: #EAE0D5;
  color: #202030;
  padding: 15px;
  font-size: 20px;
}

.top-card .img {
  height: 25px;
  width: 25px;
}

.top-btn {
  text-align: center;
  font-size: 16px;
  background-color: #EAE0D5;
  color: #202030;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
  float: right;
  padding: 6px;
  margin: 6px;
}

.column {
  float: left;
  width: 40%;
  padding: 15px;
}

.bottom-card {
  font-family: 'Athiti', sans-serif;
  color: #EAE0D5;
  background-color: #202030;
}

.card {
  margin: 5px 15px 0px 15px;
}
