body {
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}


.landing-body{
  position: relative;
  text-align: center;
}

.button-holder {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.navbar {
  background-color: #202030;
  width: auto;
  white-space: nowrap;
  box-shadow: -1px 1px 2px #202030;
  z-index: 10;
}
.navbar img{
  height: 60px;
  width: 60px;
}

.sign-up {
  text-align: right;
}

.button-holder .btn {
  font-size: 32px;
  background-color: #202030;
  color: #EAE0D5;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: -1px 2px 8px #000000;
  font-family: 'Athiti', sans-serif;
}

.login-button {
  font-size: 32px;
  background-color: #202030;
  color: #EAE0D5;
  border: 0px;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: -1px 2px 8px #000000;
  font-family: 'Athiti', sans-serif;
}

.button-holder .form-control {
  text-align: center;
  font-size: 24px;
  background-color: #EAE0D5;
  color: #EAE0D5;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
}

.button-holder .form-control:focus {
  text-align: center;
  font-size: 24px;
  background-color: #EAE0D5;
  caret-color: #202030;
  color: #202030;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
}

.search-field {
  margin-top: 20px;
}

.new-form {
  margin-top: 230px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.login-form {
  text-align: center;
}

.new-form .form-group {
  background-color: #EAE0D5;
}

.zip-code {
  text-align: center;
  font-size: 24px;
  background-color: #EAE0D5;
  caret-color: #202030;
  color: gray;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
}

.google-log {
  font-size: 20px;
  background-color: white;
  color: #202030;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: inset -1px 2px 8px #000000;
  font-family: 'Roboto', sans-serif;
  margin: 10px 50px 10px 50px;
  text-align: center;
  z-index: 10;
}

.form-field {
  text-align: center;
  font-size: 24px;
  background-color: #EAE0D5;
  caret-color: #202030;
  color: #202030;
  border-radius: 10px;
  opacity: 0.8;
  border-color: #202030;
  box-shadow: inset -1px 2px 16px #161621;
  font-family: 'Athiti', sans-serif;
}

.field {
  padding-top: 10px;
}

.top-card {
  position: inline;
}

.title {
  font-size: 28px;
  background-color: #202030;
  color: #EAE0D5;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: -1px 2px 8px #000000;
  font-family: 'Athiti', sans-serif;
  margin: 100px 10px 10px 10px;
  width: auto;
  text-align: center;
  z-index: 10;
}

.title-like {
  font-size: 28px;
  background-color: #202030;
  color: #EAE0D5;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: -1px 2px 8px #000000;
  font-family: 'Athiti', sans-serif;
  margin: 10px;
  width: auto;
  text-align: center;
  z-index: 10;
}

.title p {
  font-size: 19px;
}

.top-weather-card {
  display: flex;
  font-family: 'Athiti', sans-serif;
  background-color: #202030;
  color: #EAE0D5;
  border-radius: 10px;
  box-shadow: -1px 2px 8px #000000;
  padding: 15px;
  font-size: 20px;
  z-index: 3;
  justify-content: space-between;
}

.elements {
}


.date-icon {
  text-align: center;
}

.top-weather-card .img {
  margin: -20px;
  height: 140px;
  width: 140px;
}

.rating-select {
  text-align: center;
}

.score-select {
  text-align: center;
}

.score-wrapper {
}

.select {
  text-align: center;
  font-size: 16px;
  background-color: #EAE0D5;
  color: #202030;
  border-radius: 10px;
  opacity: 0.85;
  border-color: #202030;
  font-family: 'Athiti', sans-serif;
  padding: 1px 6px 1px 6px;
  margin-top: 15px;
  box-shadow: inset -1px 2px 12px #161621;
}


.bottom-weather-card {
  font-family: 'Athiti', sans-serif;
  color: #EAE0D5;
  background-color: #455777;
  border-radius: 7px;
  margin: auto;
  width: 95%;
  padding: 5px 0px 5px 0px;
  box-shadow: inset -1px 2px 4px #161621;
}

.index-card {
  font-family: 'Athiti', sans-serif;
  color: #EAE0D5;
  background-color: #455777;
  border-radius: 7px;
  margin: 0px 10px 0px 10px;
  width: 95%;
  padding: 5px 0px 5px 0px;
  box-shadow: inset -1px 2px 4px #161621;
}

.party {
  margin: 0px 10px 0px 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.weather-card {
  margin: 15px 15px 0px 15px;
}

.create-button {
  margin-top: 30px;
}

.apod-info {
 position: fixed;
 bottom: 0;
 margin: auto;
}

table {
  margin: auto;
  caption-side: top;
  text-align: left;
}

td {
  padding: 0px 5px 0px 5px;
  text-align: left;
}
th {
  padding: 0px 5px 0px 5px;
  text-align: left;
}
tr {
  margin: 0px 10px 0px 10px;
  padding-bottom: 15px;
}

p {
  text-align: center;
}
